201203311latentfactormodelforrecommendersystmes-guo-120330062717-phpapp01.pdf
2015faculty_paper
2015年会论文_推荐系统算法比较.odt
8_Recommender.pdf
berry95using.pdf
Deconstructing Recommender Systems - IEEE Spectrum.pdf
ieeecomputer.pdf
Matrix Completion With Noise.pdf
Packt.Machine.Learning.with.Spark.1783288515.pdf
README.md
SIAM2012_Sujay.pdf
几种推荐算法的比较.wps
推荐系统实践.pdf
